.productos {
    margin: 48px 32px;
}

/* .info__encabezado h2  */
.productos__head__titulo-principal {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--text-color1);
    margin-left: 6.5%;
    margin-top: 2%;
}

.productos__resultados_mensaje {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--text-color1);
    margin-left: 6%;
    margin-top: 2%;
}

.info__encabezado {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.info__encabezado-r {
    display: flex;
    align-items: center;
    margin-left: -2%;
    margin-top: 2%;
}

.info__encabezado-r p {
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-color2);
    margin-left: -70%;
    margin-top: 2%;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    margin-left: 3px;
    margin-right: 10%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 6.6%;
}

.img-producto {
    width: 176px;
    height: 176px;
}

.cart-detail {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--text-color1);
    padding: 4px 0;
}

.cart-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 4px 0;
}

.shopping-cart a {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--text-color2);
}

@media (max-width:1024px) {
    .productos {
        margin-left: -4%;
        margin-top: 1%;
    }

    .productos__head__titulo-principal {
        margin-left: 7%;
        margin-top: 6%;
    }

    .info__encabezado {
        width: 100%;
        margin-top: -4%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
    }

    .info__encabezado-r p {
        margin-left: -10%;
        font-size: 23px;
        margin-top: 39px;
    }

    .arrow-icon {
        margin-left: 2px;
        margin-top: 39px;
    }

    .cards-container {
        margin-left: 7.4%;
        gap: 20px 18px;
    }

    .img-producto {
        width: 141.5px;
        height: 14px;
    }

    .cart-detail {
        font-weight: 500;
        font-size: 1.8rem;
        padding: 8px 0;
    }

    .cart-price {
        font-size: 1.8rem;
        padding: 1px 0;
        margin-bottom: 2%;
    }

    .shopping-cart a {
        font-weight: 700;
        font-size: 1.8rem;
    }

}

@media (max-width:768px) {
    .productos {
        margin: 30px;
        margin-left: -5%;
    }

    .productos__head__titulo-principal {
        margin-left: 8.4%;
        margin-top: -1%;
        font-size: 2.5rem;
    }

    .info__encabezado {
        margin-top: 5%;
    }

    .info__encabezado-r {
        margin-left: -4%;
        margin-top: -1%;
    }

    .info__encabezado-r p {
        margin-left: -4%;
        margin-right: 4%;
        margin-top: -32%;
        font-size: 18px;
    }

    .arrow-icon {
        margin-left: 2px;
        position: relative;
        top: -6vh;
    }

    .cards-container {
        margin-left: 8.4%;
        margin-top: -5%;
    }

    .img-producto {
        width: 224px;
        height: 214px;
    }

    .cart-detail {
        font-size: 1.6rem;
    }

    .cart-price {
        font-size: 1.6rem;
    }

    .shopping-cart a {
        font-size: 1.6rem;
    }

}

@media (max-width: 425px) {
    .productos {
        margin: 15px;
        margin-left: -2%;
    }

    .productos__head__titulo-principal {
        font-weight: 700;
        font-size: 1.9rem;
        color: var(--text-color1);
        margin-left: 7vh;
        margin-top: .1%;
    }

    .info__encabezado {
        margin-top: 5%;
    }

    .info__encabezado-r {
        margin-left: -4%;
        margin-top: -1%;
    }


    .info__encabezado-r p {
        margin-left: -8%;
        font-size: 1.6rem;
    }

    .arrow-icon {
        margin-right: 1.5vh;
    }

    .cards-container {
        margin-left: 9%;
        margin-top: -10%;
        gap: 18px 15px;
    }

    .img-producto {
        width: 174px;
        height: 160px;
        gap: 16px;
    }

    .cart-detail {
        font-size: 1.5rem;
    }

    .cart-price {
        font-size: 1.5rem;
        margin-top: -2%;
    }

    .shopping-cart a {
        font-size: 1.5rem;
    }
}

@media (max-width: 375px) {
    .productos__head__titulo-principal {
        margin-left: 6vh;
        margin-top: .1%;
    }

    .info__encabezado {
        margin-top: 5%;
    }

    .info__encabezado-r {
        margin-left: -4%;
        margin-top: -1%;
    }


    .info__encabezado-r p {
        margin-left: -8%;
        font-size: 1.6rem;
    }

    .arrow-icon {
        margin-right: 1vh;
    }

    .cards-container {
        margin-left: 9.5%;
        gap: 18px 15px;
    }

    .img-producto {
        width: 152px;
        height: 160px;
        gap: 16px;
    }

    .cart-detail {
        font-size: 1.3rem;
    }

    .cart-price {
        font-size: 1.3rem;
        margin-top: -1%;
    }

    .shopping-cart a {
        font-size: 1.3rem;
    }
}

@media (max-width: 360px) {
    .productos__head__titulo-principal {
        margin-left: 3.6vh;
        margin-top: .8%;
    }

    .info__encabezado {
        margin-left: 2.5%;
        margin-top: 5%;
    }

    .infoencabezado{
        margin-left: 2%;
    }  

    .info__encabezado-r {
        margin-left: -0%;
        margin-top: -1%;
    }

    .info__encabezado-r p {
        margin-left: -14%;
        margin-right: -90%;
        font-size: 1.6rem;
    }

    .star_wars__head__boton {
        margin-left: 78%;
    }

    .arrow-icon {
        position: relative;
        top: -5vh;
        left: 35%;
    }

    .cards-container {
        margin-left: 10%;
        gap: 18px 10px;
    }

    .img-producto {
        width: 145px;
        height: 150px;
    }

    .cart-price {
        margin-top: -3%;
    }

    .shopping-cart a {
        font-size: 1.4rem;
    }
}

@media (max-width: 350px) {
    .productos__head__titulo-principal {
        margin-left: 5vh;
        margin-top: 1%;
    }

    .infoencabezado{
        margin-left: -5%;
        margin-top: 16%;
      }

    .info__encabezado-r p {
        margin-left: -21%;
    }

    .arrow-icon {
        margin-right: -2vh;
    }

    .cards-container {
        margin-left: 8.5%;
        gap: 18px 10px;
    }

    .img-producto {
        width: 148px;
        height: 150px;
    }

    .cart-price {
        margin-top: -3%;
    }

    .shopping-cart a {
        font-size: 1.4rem;
    }
}