.productos__head__titulo-principal {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--text-color1);
    margin-left: 6.3%;
    margin-top: -4%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-left: 6.5%;
}

.img-producto {
    width: 175px;
    height: 190px;
}

.cart-detail {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--text-color1);
    padding: 4px 0;
}

.cart-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 4px 0;
}

.shopping-cart a {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--text-color2);
}

.trash-icon {
    /* background-image: url('../carpeta_imagenes/Trash-icon.svg'); */
    position: relative;
    right: 50px;
    top: -125px;
}

.pencil-icon-a {
    left: -40px;
    top: -115px;
    cursor: pointer;
}
.pencil-icon {
    /* background-image: url("../carpeta_imagenes/pencil-icon.svg"); */
    position: relative;
    /* left: 6px;
    top: -65px; */
    left: -50px;
    top: -125px;
}
.trash-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.pencil-icon  {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .productos__head__titulo-principal {
        margin-left: 8%;
        margin-top: 5%;
    }

    .cards-container {
        margin-left: 8.5%;
        margin-top: 2%;
    }

    .img-producto {
        width: 137.8px;
        height: 138px;
    }
    
    .cart-detail {
        font-weight: 500;
        font-size: 1.8rem;
        padding: 8px 0;
    }

    .cart-price {
        font-size: 1.8rem;
        padding: 1px 0;
        margin-bottom: 2%;
    }

    .shopping-cart a {
        font-weight: 700;
        font-size: 1.8rem;
    }
    
}

@media (max-width:768px) {
    .productos {
        margin: 30px;
        margin-left: -5%;
    }

    .productos__head__titulo-principal,
    .info__encabezado h2 {
        margin-left: 11.5%;
        margin-top: -3%;
        font-size: 2.5rem;
    }

    .cards-container {
        margin-left: 12%;
    }

    .img-producto {
        width: 206px;
        height: 198px;
    } 

    .cart-detail {
        font-size: 1.6rem;
    }

    .cart-price {
        font-size: 1.6rem;
    }

    .shopping-cart a {
        font-size: 1.6rem;
    }

}

@media (max-width:425px) {
    .info__encabezado {
        flex-direction: column;
    }

    .productos__head__titulo-principal {
        margin-left: 53px;
        margin-top: -7.5%;
        font-size: 1.8rem;
    }

    .info__encabezado h2 {
        margin-left: 12%;
        margin-bottom: 15px;
    }

    .cards-container {
        margin-left: 13.5%;
        margin-top: -1%;
    }
    
    .img-producto {
        width: 169px;
        height: 160px;
    }

    .cart-detail {
        font-size: 1.5rem;
    }

    .cart-price {
        font-size: 1.5rem;
        margin-top: -2%;
    }

    .shopping-cart a {
        font-size: 1.5rem;
    }

}

@media (max-width:375px) {

    .productos__head__titulo-principal {
        margin-left: 48px;
        margin-top: -8%;
        font-size: 1.8rem;
    }

    .info__encabezado h2 {
        margin-left: 12%;
        margin-bottom: 15px;
    }

    .cards-container {
        margin-left: 13.5%;
        margin-top: -1%;
    }
    
    .img-producto {
        width: 148px;
        height: 160px;
    }

    .cart-detail {
        font-size: 1.3rem;
    }

    .cart-price {
        font-size: 1.3rem;
        margin-top: -1%;
    }

    .shopping-cart a {
        font-size: 1.3rem;
    }
}

@media (max-width:360px) {

    .productos__head__titulo-principal {
        margin-left: 40px;
        margin-top: -8%;
        font-size: 1.8rem;
    }

    .info__encabezado h2 {
        margin-left: 12%;
        margin-bottom: 15px;
    }

    .cards-container {
        margin-left: 14.5%;
        margin-top: -1%;
    }
    
    .img-producto {
        width: 135px;
        height: 150px;
    }

}